@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('../src/assets/t10.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    width: 100%;
    height: 100%;
}
#Principale{
    height: 100%;
    width:100%;
}



#heading {
    width: 100%;
    height: 110px;}

#wiz{
height: 100%;
width: 100%;
}

.row ul li{
    transition: 0.5s;
}

#fonctionnairename::after{
    content: '';
    position: absolute;
    left: 30%;
    top: 100%;
    background-color: aqua;
    height: 4px;
    width: 20%;
    transform: translateX(50%);

}
.img{
    height: 85px;
    width: 85px;
    transform: translateY(50%);
}
.login{
    width: 75%;
    height: 500px;
    background-image: url('./assets/p5.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.7)
}
.forma{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}
.logintitle{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 60px;
}

.forma label{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}
.forma input{
    background-color: rgba(255,255,255,0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    outline: none;
}
.forma button{

    background: #089ddd;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* .pdf-container {
    width: 100%;
    height: 500px; 
    border: 1px solid #ccc; 
  }
 */


 #react-doc-viewer #header-bar {
    background-color: #A66E38
  }

  #react-doc-viewer{
    height: 600px;
    width: 100%;
    overflow: auto;
  }


